@model IEnumerable<RunTracker.Models.Run>


@{
    ViewData["Title"] = "Home Page";
    Layout = "_ChartLayout";
}



<h3>@ViewBag.Name</h3>

<div class="row">
    <div class="col-md-6">
        @if (Model.Any())
        {
            <div class="well well-sm">@ViewBag.Mileage</div>
            <div class="well well-sm">@ViewBag.Fastest</div>
            <div class="well well-sm">@ViewBag.Farthest</div>
        }
        else
        {
            <div class="well well-sm">@ViewBag.NoRunsMsg</div>
        }
    </div>
    <div class="col-md-6"></div>
</div>
<div class="btn-group">
    <a asp-area="" asp-controller="Home" asp-route-id=0 asp-action="Index" class="btn btn-info">Last Month</a>
    <a asp-area="" asp-controller="Home" asp-route-id=1 asp-action="Index" class="btn btn-info">Last 3 Months</a>
    <a asp-area="" asp-controller="Home" asp-route-id=2 asp-action="Index" class="btn btn-info">All Time</a>
</div>
<div class="pull-right">
    <label class="label label-danger">Distance</label>
    <label class="label label-success">Pace</label>
</div>

<div class="ct-chart run_frequency"></div>

<!-- Draw chart --> 
<script type="text/javascript">

    var dist = [];
    var date = [];
    var pace = [];

    // Tranfer data from model to javascrip array
    @foreach(Run r in Model)
    {
        @:date.push("@r.Date.ToString("MM/dd/yy")");
        @:dist.push("@r.Distance");
        @:pace.push("@r.PaceDouble");
    }

    var data = {
        labels: date,
        series: [dist, pace]
    };

    var options = {
        axisX: {
            labelOffset: {
                x: 0,
                y: 10
            }
        },
        axisY: {
            offset: 0,
        },
        chartPadding: {
            top: 20,
            left: 28,
            bottom: 20
        },
        showPoint: false,
        height: 250
    };

    new Chartist.Line('.ct-chart', data, options);
</script>